/* PrimaryButton.css */
.primary-button-animation {
  transition: background-image 0.5s ease;
}

.primary-button-animation:hover {
  animation-name: example;
  animation-duration: 2s; /* Total animation duration on hover */
  animation-iteration-count: infinite; /* Infinite loop */
}

@keyframes example {
  /* 0% {
    background-image: linear-gradient(90deg, #ffd60c, #f15d27, #f15d27);
    transition-duration: 600s;
  }
  25% {
    background-image: linear-gradient(90deg, #f15d27, #ffd60c, #ffd60c);
  }
  50% {
    background-image: linear-gradient(90deg, #ffd60c, #f15d27, #f15d27);
  }
  100% {
    background-image: linear-gradient(90deg, #f15d27, #ffd60c, #ffd60c);
  } */
  0%, 100% {
    background-image: linear-gradient(90deg, #ffd60c, #f15d27, #f15d27); /* Initial and final state */
  }
  50% {
    background-image: linear-gradient(90deg, #f15d27, #ffd60c, #ffd60c); /* Midway state */
  }
}
